body {
  background-color: #f0f0f0;
}

img {
  width: 200px;
}

h3 {
  font-size: 20px;
}

.a {
  font-family: helvetica;
}

.b {
  font-family: book antiqua;
}


.c {
  font-family: times new roman;
}
