/*<--- Font Page --->*/

#whole-page {
  font-family: 'Raleway', sans-serif;
}

/*<--- Hamburger Menu --->*/

.navbar-header {
    float: none;
}

.navbar-left,
.navbar-right {
    float: none !important;
}

.navbar-toggle {
    display: block !important;
}

.navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-collapse.collapse {
    display: none !important;
}

.navbar-nav {
    float: none !important;
    margin-top: 7.5px;
}

.navbar-brand {
    font-size: 28px;
    padding: 0;
    height: auto;
}

h1.navbar-brand {
    margin-top: 15px;
    margin-bottom: 0;
}

.navbar-nav > li {
    float: none;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.collapse.in{
    display: block !important;
}

#color-button {
  background: url('Imagenes/menublanco.png') no-repeat center center;
  background-size: 40px;
}

#logo {
  padding-top: 2%;
}

#bs-example-navbar-collapse-1 {
  text-align: center;
  background-color: white;
  height: 100vh;
}

.collapse.navbar-collapse {
  max-height: none !important;
}

@media (min-width: 768px) {

  .navbar-collapse.collapse {
    max-height: none !important;
  }
}

#bs-example-navbar-collapse-1 a {
  color: black;
  font-size: 15vmin;
  line-height: 15vmin;
}

#bs-example-navbar-collapse-1 a:hover {
  color: #FA4516;
  background-color: transparent;
}

/*<--- Home Page: Slideshow --->*/

#slideshow {
  height: 600px;
}

#img-1-car {
  background: url('Imagenes/office.jpeg') no-repeat center center;
  background-size: cover;
  height: 600px;
}

#img-2-car {
  background: url('Imagenes/teamwork.jpeg') no-repeat center center;
  background-size: cover;
  height: 600px;
}

#img-3-car {
  background: url('Imagenes/homeslide1.jpeg') no-repeat center center;
  background-size: cover;
  height: 600px;
}

/*<--- Categories --->*/

.col-wrapper-4 {
  margin: 10px;
}

#categorie-1 > .col-wrapper-4 {
  background: url('Imagenes/coding.jpg') no-repeat center center;
  background-size: cover;
  height: 300px;
}

#categorie-3 > .col-wrapper-4 {
  background: url('Imagenes/photography.jpg') no-repeat center center;
  background-size: cover;
  height: 300px
}

#categorie-2 > .col-wrapper-4 {
  background: url('Imagenes/advertising.jpg') no-repeat center center;
  background-size: cover;
  height: 300px;
}

/*<--- Our Story --->*/

#ourstory-img {
  background: url('Imagenes/ourstory.jpg') no-repeat center center;
  background-size: cover;
  height: 600px;
}

/*<--- Internships --->*/

#internships {
  background: url('Imagenes/inoffice.jpg') no-repeat center center;
  background-size: cover;
  height: 600px;
}

#categorie-1-2 > .col-wrapper-4 {
  background: url('Imagenes/seetheworld.jpg') no-repeat center center;
  background-size: cover;
  height: 300px;
}

#categorie-2-2 > .col-wrapper-4 {
  background: url('Imagenes/workabroad.jpg') no-repeat center center;
  background-size: cover;
  height: 300px;
}

#categorie-3-2 > .col-wrapper-4 {
  background: url('Imagenes/work1.jpg') no-repeat center center;
  background-size: cover;
  height: 300px
}

/*<--- Intern Abroad --->*/

#internabroad {
    background: url('Imagenes/internabroadhead.png') no-repeat center center;
    background-size: cover;
    height: 600px
}

#categorie-1-3 > .col-wrapper-4 {
  background: url('Imagenes/seetheworld.jpg') no-repeat center center;
  background-size: cover;
  height: 300px;
}

#categorie-2-3 > .col-wrapper-4 {
  background: url('Imagenes/workabroad.jpg') no-repeat center center;
  background-size: cover;
  height: 300px;
}

#categorie-3-3 > .col-wrapper-4 {
  background: url('Imagenes/work1.jpg') no-repeat center center;
  background-size: cover;
  height: 300px
}

/*<--- Categories: Past Stories --->*/

#paststories-img {
  background: url('Imagenes/paststories.jpg') no-repeat center center;
  background-size: cover;
  height: 600px;
}

#story-1 > .col-wrapper-4 {
  background: url('Imagenes/pedro.jpg') no-repeat center center;
  background-size: cover;
  height: 500px;
}

#story-2 > .col-wrapper-4 {
  background: url('Imagenes/andrea.jpg') no-repeat center center;
  background-size: cover;
  height: 500px;
}

/*<--- Home Page: Past Stories --->*/

#story1 > .col-wrapper-4 {
  background: url('Imagenes/pedro.jpg') no-repeat center center;
  background-size: cover;
  height: 500px;
}

#story2 > .col-wrapper-4 {
  background: url('Imagenes/andrea.jpg') no-repeat center center;
  background-size: cover;
  height: 500px;
}

/*<--- Categories: Articles --->*/

#articles {
  background: url('Imagenes/seetheworld.jpg') no-repeat center center;
  background-size: cover;
  height: 250px;
}

/*<--- Articles --->*/

#articles-head {
  background: url('Imagenes/inoffice.jpg') no-repeat center center;
  background-size: cover;
  height: 600px;
}

.media-heading {
  margin-top: 2%;
}

/*<--- Footer --->*/

#myFooter {
    background-color: #FA4516;
    color: white;
    padding-top: 30px;
}

#myFooter .footer-copyright {
    background-color: #DD3D1D;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 10px;
}

#myFooter .navbar-brand {
    margin-top: 10px;
    height: 45px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: white;
}

#myFooter ul {
    font-size: 15px;
    list-style-type: none;
    padding-left: 40%;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding-left: 40%;
    margin-top: 10px;
}

#myFooter a {
    color: white;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: black;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 20px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    padding-top: 2%;
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .youtube:hover {
    color: black;
}

#myFooter .twitter:hover {
    color: #00aced;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}
